<main>
    <header class="title">
        Hour Control
    </header>
    <section class="body">
        <section class="account-login">
                <app-form-field 
                    label="E-mail"
                    type="form">
                </app-form-field>
                <app-form-field 
                    label="Password"
                    type="password">
                </app-form-field>
                <app-button class="primary">
                    Login
                </app-button>
            </section>

            <div></div>
        
            <form class="account-creation" #createForm="ngForm" [formGroup]="form">
                <app-form-field 
                    label="E-mail"
                    type="email"
                    required="true"
                    formControlName="email">
                </app-form-field>
                <app-form-field 
                    label="Password"
                    type="password"
                    required="true"
                    formControlName="password">
                </app-form-field>
                <app-form-field 
                    label="Confirm password"
                    type="password"
                    required="true"
                    formControlName="confirmPassword">
                </app-form-field>
                <app-button 
                    class="accent"
                    [disabled]="form.invalid" 
                    (onClick)="createUser(createForm.value)">
                    Create account
                </app-button>
            </form>
    </section>
</main>

<!-- <button (click)="login()">
    <i class="fab fa-google"></i> <span>Login with Google</span>
</button> -->
