<main>
    <div id="menu" class="overlay">
        <div class="closebtn">
            <a (click)="closeMenu()">
                <i class="fas fa-times"></i>
            </a>
        </div>

        <div class="overlay-content">
            <div class="field">
                <input
                    id="daily"
                    type="time"
                    pattern="[0-2][0-9]:[0-5][0-9]"
                    [ngModel]="dailyHours"
                    (ngModelChange)="setDailyHours($event)"
                    required
                />
                <label for="daily">Horas Diárias</label>
            </div>
            <button class="logout" (click)="logout()">
                Logout
            </button>
        </div>
    </div>

    <button class="menu" (click)="menu()">
        <i class="fas fa-bars"></i>
    </button>

    <div class="field">
        <input id="start" type="time" [(ngModel)]="start" required pattern="[0-2][0-9]:[0-5][0-9]" />
        <label for="start">Horário Entrada</label>
    </div>
    <div class="field">
        <input id="end" type="time" [(ngModel)]="end" required pattern="[0-2][0-9]:[0-5][0-9]" />
        <label for="end">Horário Saída</label>
    </div>
    <div class="buttons">
        <button class="save" (click)="save()">Salvar</button>
    </div>
</main>
<footer>Saldo: {{ hourBalance }}</footer>
