:host {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 1024px) {
            width: 50%;
        }

        @media screen and (min-height: 760px) {
            height: 50%;
        }
    }
}
