/* You can add global styles to this file, and also import other style files */
@import 'assets/font-awesome/scss/brands.scss';
@import 'assets/font-awesome/scss/fontawesome.scss';
@import 'assets/font-awesome/scss/regular.scss';
@import 'assets/font-awesome/scss/solid.scss';

* {
    font-family: Roboto;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #eeeeee;
}
