// Primary color
$color-primary: #494b99;
$color-primary-active: #5a5caa;
$color-primary-disabled: #7c7ecc;

// Secondary color
$color-secondary: #424242;
$color-secondary-active: #535353;
$color-secondary-disabled: #757575;

// Accent color
$color-accent: #ef4362;
$color-accent-active: #f05473;
$color-accent-disabled: #f27695;

// Black
$color-black: #000000;

// White
$color-white: #ffffff;

// Divider color
$color-divider: #eaeaea;

// Error color
$color-error: #ff0000;

// Form required color
$color-required: #ff0000;